body{
  background-color: black;
}
.navbar-dark{
  /* background-color: black; */
}
ul {
  list-style-type: none;
 }
 /*Header*/
.MyNavBar{
  margin: 1rem 0px 1rem 0px;
}
.MyNavBarLogo{
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}
/* .MyNavBarMenu{
  align-items: stretch;
  display: flex;
  width: 100%;
} */
.MyNavBarStart{
  align-items: stretch;
  display: flex;
  
  /* width: 100%; */
}
.MyNavBarEnd{
  display: flex;
  align-items: center;
  /*justify-content: center; */
}
.MyNavBarCollpaseBtn{
  align-self: center;
}
@media screen and (min-width: 769px)
{
  .MyNavBar{
    align-items: stretch;
    display: flex;
  }
  .MyNavBarCollpaseBtn{
    display: none;
    
  }
  .MyNavBarLogo{
    /* width: 30%; */
  }
  .MyNavBarMenu{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .MyNavBarStart{
    justify-content: flex-start;
    margin-right: auto;
    align-items: center;
  }
}
@media screen and (max-width: 769px)
{
  .MyNavBar{

  }
  .MyNavBarMenu{

  }
  .MyNavBarStart{
    flex-direction: column;
  }
}
/*--header*/